---
import Layout from "../layouts/Layout.astro";
import Online from "../components/Online.astro";
import Offline from "../components/Offline.astro";

import { getServerStatus } from "../lib/getServerStatus";

const serverStatus = await getServerStatus();
---

<Layout title="Status | mc.shmn7iii.net">
  <main class="flex min-h-screen flex-col items-center p-10">
    {serverStatus.online ? <Online serverStatus={serverStatus} /> : <Offline serverStatus={serverStatus} />}
  </main>
</Layout>

<style></style>
