---
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link href="https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap" rel="stylesheet" />
    <meta name="generator" content={Astro.generator} />
    <title>kaihei</title>
  </head>
  <body class="h-screen w-screen px-44 py-6">
    <a href="/" class="absolute">
      <h1 class="mb-4 text-3xl font-extrabold text-gray-900 md:text-5xl lg:text-6xl" style="font-family: 'Fugaz One';">
        <span class="bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500 bg-clip-text text-transparent">
          kaihei
        </span>
        <small class="ms-2 font-sans text-2xl font-bold">Minecraft server status</small>
      </h1>
    </a>

    <div class="flex h-full w-full items-center">
      <slot />
    </div>
  </body>
</html>
